
{% extends "layout.html" %}
{% load static %}

{% block content %}
    <h1 class="text-center mt-4">Welcome to django | TweetHub</h1>
    <h2>
        {% if form.instance.pk %}
            Edit Tweet
            {% else %}
            Create_tweet
        {% endif %}
        <form method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-warning" type="submit">Submit</button>
        </form>
        <a href=" {% url "tweet_list" %}">back</a>
    </h2>
{% endblock %}